@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* {outline: 1px solid red; }

body{
    background-color: #82DDB5;
    background-image: url('img/illustration.gif'),url('img/texture.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: center 280px, left top;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav{
    background-color: #6B9; /*trible digits show one*/
    padding: 20px 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    word-spacing: 2em; /*em=proportional measurement*/
    border-bottom: 2px dashed #487;
    
}
#header{
    text-align: center;
    margin-top: 40px;
    
}

#logo{
  max-width: 360px;
  width: 100%; 
    }

#description, #date{
    max-width: 300px;
    width: 25%;
    
}

.register_btn{
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25PX;
    padding: 15px 30px;
}

#what{
    background-color: rgba(200,240,220,0.9);
    margin-top: 355px;
    
    
    
}

#what h1{
    text-align: center;
    padding: 42px 0 10px;
    color:#347788;
    font-size: 220%;
    font-weight: 400px;
}


#what p{
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    color: #347788;
    font-weight:500;
    font-size:1.15em;
    word-spacing: 0.15rem;*/
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 18px;
    padding: 0px;
}


p:nth-child(2+3) {
    font-size: 1em;
    margin-top: 10px;
    padding-top: 30px;
   

}


#what h2{
    text-align: center;
    font-size: 140%;
    color:#347788;
    font-weight: bold;
    /*font-kerning: normal;*/
    padding-top: 15px;
    
}

#sponsors{
    max-width: 100px;
    width:50%;
   align-content: center;
   margin-left: 30px;
   margin-right: 200px;
   padding-left: 100px;*/
}

#massey, #oracle {
    max-width: 300px;
    width: 37%;
    display: contents
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-bottom: 60px;

}

#why {
    background-color: #b6ead3;
    margin-top: -20px;
    padding-top:30px;
    
}

#why h1{
    text-align: center;
    color: #347788;
    font-size: 220%;
}

#why p{
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    color: #347788;
    font-size:auto;
    word-spacing: 0.15rem;*/
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 18px;
    padding-bottom: 45px;
    
}

#where {
   background-image: url('img/map.gif');
   background-position: center 280px, left top; 
   background-size: 300px, 200px;
   margin: 0 170px 0;
    background-repeat: no-repeat, repeat-x;
   display: contents;
    
}

#where h1{
    text-align: center;
    color: #bb4488;
    
}

#where p{
    color: #bb4488;
}

#when{
    background-color: #439998;
    background-image: url('img/wires.png');
}























